{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dam/detail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class='navcontainer'>
            <form class='search-bar'>
                <input type='text' name='item_name' class="search-bar__input" placeholder="Search" aria-label="search"/>
                <button class='search__submit'><img class='search__submit icon' src="{% static 'dam/search.png' %}"></button>
            </form>
    </div>
    <div class='mainimagecontainer'>
        <img class="mainimage" id="image" src="{% static 'dam/images/' %}{{ image_object.filename }}">
    </div> 
    <div class='scroll-wrapper'>
        <div class='image-scroll'>
            {% for image in image_objects %}
            <div class="product-card">
                    <img class="image" id="{{ image.filename }}" src="{% static 'dam/images/' %}{{ image.filename }}">
            </div>
            {% endfor %}  
        </div>
    </div>  
</body>
<script src="{% static 'dam/detail.js' %}"></script>
</html>



