{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dam/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class='navcontainer'>
            <form class='search-bar'>
                <input type='text' name='item_name' class="search-bar__input" placeholder="Search" aria-label="search"/>
                <button class='search__submit'><img class='search__submit icon' src="{% static 'dam/search.png' %}"></button>
            </form>
    </div>
    <div class="container">
        {% for image in image_objects %}
        <div class="product-card">
            <a href='{{ image.id }}'>
            <img class="image" id="{{ image.filename }}" src="{% static 'dam/images/' %}{{ image.filename }}">
            </a>
            <div class="product-description">
                <a class="filename">
                    {{ image.filename }} <br>
                    {{ image.folder }}
                </a>
                <a href='{% url "downloadimage" image.filename %}'>
                    <img class='download' id='{{ image.filename }}' src="{% static 'dam/download.png' %}">
                </a>
                <a href='{% url "deleteimage" image.id %}'>
                    <img class='delete' id='{{ image.filename }}' src="{% static 'dam/delete.png' %}">
                </a>
            </div>
        </div>
        {% endfor %}   
    </div>
    <div class="uploader" id='uploader' >
        <form class="upload" id='upload' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
            <div class="upload-images">Upload Images</div>
            <label for="img" class="upload-button"> Browse
            </label>
            <input type="file" id="img" name="img" accept="image/*" multiple>
            <img class='upload-icon' id='upload-icon' src="{% static 'dam/uploadicon.png' %}">
            </p>
        </form>
    </div>
</body>
<script src="{% static 'dam/app.js' %}"></script>
</html>



