{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dam/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class='navcontainer'>
            <form class='search-bar'>
                <input type='text' name='item_name' class="search-bar__input" placeholder="Search" aria-label="search"/>
                <button class='search__submit'><img class='search__submit icon' src="{% static 'dam/search.png' %}"></button>
            </form>
    </div>
    <div class="container">
        {% for image in image_objects %}
        <div class="product-card">
            <a href='{% url "index" %}{{ product.id }}'>
            <img class="image" id="{{ image.filename }}" src="{% static 'dam/images/' %}{{ image.filename }}">
            </a>
            <a class="filename">
                {{ image.filename }} <br>
                {{ image.folder }}
            </a>
        </div>
        {% endfor %}   
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="img">Select image:</label>
        <p>
        <input type="file" id="img" name="img" accept="image/*">
        </p>
        <button name="myfile" type="submit">Upload</button> 
      </form>
</body>
<script src="{% static 'dam/app.js' %}"></script>
</html>



