body {
    background: rgb(167,167,167);
    background: linear-gradient(319deg, rgba(167,167,167,1) 0%, rgba(159,159,159,1) 100%);
    display:flex;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow-x: hidden;
}

.container{
    position: absolute;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width:95%;
    left:2.5%;
    top:80px;
}

.product-card {
    border-radius:3%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background:white;
    padding-bottom:10%;
    margin-right:2%;
    margin:1%;
}

.product-description{
    display:grid;
    grid-template-columns: 80% 10% 10%;
}

.image {
    border-radius:3% 3% 0 0;
    top:0;
    width: 100%;
    border-collapse: inset;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.03);
    padding-bottom: .5%;
    background: rgb(167,167,167);
    background: linear-gradient(319deg, rgba(167,167,167,1) 0%, rgba(159,159,159,1) 100%);
}

.filename {
    font-weight: 600;
    font-size: 1.2em;
    padding-left:5%;
    padding-top:2%;
}

.delete {
    height:20px;
    cursor: pointer;
}

.delete:hover{
    animation: grow .2s forwards;
}

.download {
    height:20px;
    cursor: pointer;
    padding-top:8%;
}

.download:hover{
    animation: grow .2s forwards;
}

.search-bar{
    z-index: 500;
    position: fixed;
    border:2px solid #454545;
    display:flex;
    top:22px;
    width:100px;
    height: 25px;
    outline:none;
    border-radius: 50px;
    padding:2px;
    transition:width 300ms ease-in-out;
    left: 75%;
    margin-left: 20px;
}

.search-bar__input{
    flex-grow:1;
    position: absolute;
    color:#454545;
    background:transparent;
    border:none;
    padding-left:20px;
    top:0;
    bottom:0;
    left:0;
    line-height: 22px;
} 
.search-bar__input:focus{
    outline:none;
} 

.search__submit{
    height:28px;
    width:28px;
    pointer-events: all;
    border:none;
    cursor:pointer;
    border-radius: 50%;
    background: none;
    margin-left: auto;
    padding:1px;
}

.search__submit.icon{
    height:20px;
    width:20px;
}

.search-bar:focus-within{
    width:210px;
}


.uploader {
    width:30%;
    height:28px;
    border:2px solid #ccc;
    position: absolute;;
    border-radius: 50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:28px;
    left:33.2%;
    top:5px;
    z-index: 100;
    text-align: center;
}

.uploader.hovering {
    width:30%;
    height:28px;
    border:2px solid black;
    position: absolute;;
    border-radius: 50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:28px;
    left:33.2%;
    top:5px;
    z-index: 100;
    text-align: center;
}
.upload-images{
    width:100%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    height: 100%;
    outline:none;
    border:none;
    border-radius: 50px;
    background:none;
    position: absolute;
    top:18px;
    font-size: 1.3em;
    cursor:pointer;
    z-index: 10;
    color:#454545;
}


.upload-icon {
    height: 40px;
    position: absolute;
    top:10px;
    left:15%;
}

.upload-button {
    display:none;
}

.upload-images.active{
    display:none;
}



.uploader.active{
    width:30%;
    height: 25%;
    border:2px dashed #ccc;
    position: absolute;;
    border-radius: 50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:28px;
    left:33.2%;
    top:5px;
    cursor:pointer;
    animation: slide .2s forwards;
    z-index: 100;
    text-align: center;
}

.uploader.active.hovering{
    width:30%;
    height:25%;
    border:2px dashed black;
    position: absolute;;
    border-radius: 50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:28px;
    left:33.2%;
    top:5px;
    cursor:pointer;
    animation: slide .2s forwards;
    z-index: 100;
    text-align: center;
}

input[type="file"] {
    display: none;
}
.upload-button.active {
    border: 1px solid #ccc;
    padding: 6px 12px;
    display:block;
    cursor: pointer;
    border-radius: 20px;
    top:65%;
    left:42%;
    position: absolute;
}


.upload-icon.active{
    height: 90px;
    position: absolute;
    top:18%;
    left:33%;
}

.container.active{
    position: absolute;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:95%;
    left:2.5%;
    top:40%;
}

.upload-button:hover{
    background:#454545;
    color:white;
    border:#454545;
}


@keyframes slide {
	0% {
        transform: scaleY(.3);
        transform-origin: 50% 0%;
	}

	100% {
        transform: scaleY(1);
        transform-origin: 50% 0%;
	}
}

@keyframes slideback {
	0% {
        transform: scaleY(1.5);
        transform-origin: 50% 0%;
	}

	100% {
        transform: scaleY(1);
        transform-origin: 50% 0%;
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}